img {
    width: 100%;
    height: 100%;
}

.row {
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.row-first {
    height: 400px;
}
.vertical-collage img {
    height: 50%;
}
.row > div {
    flex: 1;
}
.last {
    display: flex;
}
.squre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
